.box{
    display: table;
    border:5px solid black;
    background-color: black;
    border-spacing: 1px;
}
.row{
    display:table-row;
}
.pixel{
    display:table-cell;
    background-color: white;
    width:40px;
    height:40px;

}
.w1{
    background-color: blue;
    border:2px solid black;
    margin : 10px;
    height: 40px;
    width:40px;
}
.w2{
    background-color: pink;
    border:2px solid black;
    margin : 10px;
    height: 40px;
    width:40px; 
}
.w3{
    background-color: grey;
    border:2px solid black;
    margin : 10px;
    height: 40px;
    width:40px;  
}
.w4{
    background-color: burlywood;
    border:2px solid black;
    margin : 10px;
    height: 40px;
    width:40px;  
}